name: Build and Push Docker Image

# Propósito de este Workflow:
# Esto es lo que hace:
# 1. Pide la máquina prestada (Linux).
# 2. Construye la imagen Docker.
# 3. Sube la imagen Docker github registry.
#
# Ejemplo de cómo llamarlo desde el repositorio destino:
# -------------------------------------------------------------------
# name: Build and Push Docker to GitHub
# on:
#   push:
#     branches: [ "main" ]
#
# jobs:
#   docker-build:
#     uses: tu-usuario/tu-repo/.github/workflows/build-and-push-docker.yml@main
#     with:
#       image_name: 'mi-app'
#       dockerfile_path: './Dockerfile'
#     secrets:
#       registry_username: ${{ github.actor }}
#       registry_password: ${{ secrets.GITHUB_TOKEN }}
# -------------------------------------------------------------------


on:
  workflow_call:
    inputs:
      image_name:
        required: true
        type: string
      dockerfile_path:
        required: false
        type: string
        default: "./Dockerfile"
      registry:
        required: false
        type: string
        default: "ghcr.io"
    secrets:
      registry_username:
        required: true
      registry_password:
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ inputs.registry }}
          username: ${{ secrets.registry_username }}
          password: ${{ secrets.registry_password }}

      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ inputs.registry }}/${{ inputs.image_name }}
          tags: |
            type=semver,pattern={{version}}
            type=sha,format=short
            latest

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ${{ inputs.dockerfile_path }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
